<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StevenGuptaStatLoader.Properties.Settings.StevenGConnectionString"
            connectionString="Data Source=GLNA9SVPDBSDP0;Initial Catalog=StevenG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="StevenGuptaStatLoader.Properties.Settings.mlbdata2ConnectionString"
            connectionString="Data Source=stevengserver.database.windows.net;Initial Catalog=mlbdata2;User ID=steveng;Password=Pinkfloyd0/"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
